<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
  </head>
  <body>
    <div id="content">
      <button type="button" onclick="updateValue(0);" id="sprintNumber0" class="btn-default">Aucun</button>
      <button type="button" onclick="updateValue(1);" id="sprintNumber1" class="btn-green">01</button>
      <button type="button" onclick="updateValue(2);" id="sprintNumber2" class="btn-yellow">02</button>
      <button type="button" onclick="updateValue(3);" id="sprintNumber3" class="btn-orange">03</button>
      <button type="button" onclick="updateValue(4);" id="sprintNumber4" class="btn-red">04</button>
      <button type="button" onclick="updateValue(5);" id="sprintNumber5" class="btn-purple">05</button>
      <button type="button" onclick="updateValue(6);" id="sprintNumber6" class="btn-blue">06</button>
      <button type="button" onclick="updateValue(7);" id="sprintNumber7" class="btn-sky">07</button>
      <button type="button" onclick="updateValue(8);" id="sprintNumber8" class="btn-lime">08</button>
      <button type="button" onclick="updateValue(9);" id="sprintNumber9" class="btn-pink">09</button>
      <button type="button" onclick="updateValue(10);" id="sprintNumber10" class="btn-black">10</button>
    </div>
    <script src="../js/sprint-number.js"></script>
  </body>
</html>
