<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
  </head>
  <body>
    <form id="sprint-number">
      <select name="sprintNumber" id="sprintNumber">
        <option value="">-</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
      <hr/>
      <button type="submit" class="mod-gutter">Enregistrer</button>
      <button type="button">Effacer</button>
    </form>
    <script src="./js/sprint-number.js"></script>
  </body>
</html>
