select {
  width: 98%;
  height: 30px;
}

button {
  width: 98%;
  text-align: left;
  font-weight: bold;
  color:white;
  position: relative;
  margin: 0 0 4 0;
}

button:hover {
  width: calc( 98% - 8px );
  margin-left: 8px;
}

button:active {
  color:white;
}

button.btn-default {
  color:#172b4d;
  font-weight: normal;
}

button.btn-default:hover {
  box-shadow: -8px 0 #b3bac5;
}

button.btn-green {
  background-color: #61bd4f;
}

button.btn-green:hover {
  box-shadow: -8px 0 #519839;
}

button.btn-yellow {
  background-color: #f2d600;
}

button.btn-yellow:hover {
  box-shadow: -8px 0 #d9b51c;
}

button.btn-orange {
  background-color: #ff9f1a;
}

button.btn-orange:hover {
  box-shadow: -8px 0 #cd8313;
}

button.btn-red {
  background-color: #eb5a46;
}

button.btn-red:hover {
  box-shadow: -8px 0 #b04632;
}

button.btn-purple {
  background-color: #c377e0;
}

button.btn-purple:hover {
  box-shadow: -8px 0 #89609e;
}

button.btn-blue {
  background-color: #0079bf;
}

button.btn-blue:hover {
  box-shadow: -8px 0 #055a8c;
}

button.btn-sky {
  background-color: #00c2e0;
}

button.btn-sky:hover {
  box-shadow: -8px 0 #0098b7;
}

button.btn-lime {
  background-color: #51e898;
}

button.btn-lime:hover {
  box-shadow: -8px 0 #4bbf6b;
}

button.btn-pink {
  background-color: #ff78cb;
}

button.btn-pink:hover {
  box-shadow: -8px 0 #c9558f;
}

button.btn-black {
  background-color: #344563;
}

button.btn-black:hover {
  box-shadow: -8px 0 #091e42;
}

button.btn-selected::after {
  font-family: "FontAwesome";
  content: "\f00c";
  position: absolute;
  right: 10px;
  top: 7px;
}