<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
  </head>
  <body>
    <div id="content">
      <button type="button" onclick="updateValue(null);" id="errorTypeUndefined" class="btn-default">Non définie</button>
      <button type="button" onclick="updateValue('minor');" id="errorTypeMinor" class="btn-yellow">Mineure</button>
      <button type="button" onclick="updateValue('major');" id="errorTypeMajor" class="btn-red">Majeure</button>
    </div>
    <script src="../js/error-type.js"></script>
  </body>
</html>
