/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

select {
  width:98%;
  height:30px;
}

button {
  width:98%;
}

button.mod-secondary {
  background-color: #0079bf;
  color:white;
}